@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.land-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./media/FRONT.png');
    /* background-color: black; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    position: relative;
    perspective: 500px;
}

.head1 {
    font-size: 111px;
    font-family: "Archivo Black", serif;
    color: white;
}

.head1:hover {
    text-shadow:
        0 0 5px #fff,
        0 0 75px #cac5ca;
}


.tagline {
    font-family: "Noto Sans", serif;
    font-size: 25px;
    letter-spacing: 4px;
    margin-top: -22px;
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 75px #cac5ca;
}

.logo {
    z-index: 2;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: -50px;
    width: 15%;
}

.arrow {
    position: absolute;
    left: 0px;
    bottom: 45px;
    /* border: 1px solid black; */
    text-align: center;

}

.img-arrow {
    z-index: 2;
    width: 2%;
    /* animation: bounce 2s infinite; */
}

#arr-1 {
    animation: run 1.5s infinite;
}

@keyframes run {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

#arr-2 {
    animation: run2 1.5s infinite;
    width: 1.7%;
}

@keyframes run2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

#arr-3 {
    animation: run3 1.5s infinite;
    width: 1.3%;
}

@keyframes run3 {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.img-arrow:hover {
    transform: scale(1.3);
}

.arr-anima-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:1024px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/1024X857.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 79px;
        /* color: red; */
    }

    .tagline {
        font-size: 18px;
    }

    .logo {
        width: 17%;
    }

    .img-arrow {

        width: 2%;
    }
}

@media (max-width:768px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/768X642.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 64px;
    }

    .tagline {
        font-size: 14px;
        margin-top: -18px;

    }

    .logo {
        width: 22%;
        margin-top: 0px;

    }

    .img-arrow {

        width: 2%;
    }
}

@media (max-width:600px) {
    .head1 {
        font-size: 60px;
    }

    .tagline {
        font-size: 13px;
    }

    .logo {
        width: 25%;
    }

    .img-arrow {

        width: 3%;
    }
}

@media (max-width:500px) {
    .head1 {
        font-size: 52px;
    }

    .tagline {
        font-size: 10px;
        margin-top: -14px;
    }

    .logo {
        width: 26%;
        margin-bottom: -4px;
    }

    .img-arrow {

        width: 3%;
    }
}

@media (max-width:426px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/425x643.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 45px;
    }

    .tagline {
        font-size: 10px;
        letter-spacing: 3px;
        margin-top: -15px;

    }

    .logo {
        width: 24%;
    }

    .img-arrow {
        width: 3%;
    }
}

@media (max-width:375px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/375x642.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 40px;
    }

    .tagline {
        font-size: 8px;
        letter-spacing: 3px;
        margin-top: -13px;

    }

    .logo {
        width: 25%;
    }

    .img-arrow {
        width: 3%;
    }
}

@media (max-width:320px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/320x642.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 35px;
    }

    .tagline {
        font-size: 7px;
        letter-spacing: 3px;
        margin-top: -13px;

    }

    .logo {
        width: 30%;
        margin-bottom: 0px;
    }

    .img-arrow {
        width: 3%;
    }
}

/* section 2 */

#sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./media/About\ Us\ Wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sec2-content-div {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    width: 70%;
    margin-bottom: 30px;
}

.sec2-content2-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#img1 {
    width: 70%;
    margin-top: -35px;
    overflow: hidden;

    /* height: 80%; */
}

#img1-2 {
    width: 70%;
    margin-top: -35px;
    overflow: hidden;
    display: none;
}

#img2 {
    width: 70%;
    overflow: hidden;
}

#img2-1 {
    display: none;
    width: 70%;
    overflow: hidden;
}

.content-2 {
    margin-top: 25px;
}

.content-2,
.content1-1,
.content-1 {
    font-size: 16px;
}

@media (max-width:1200px) {

    .sec2-content-div,
    .sec2-content2-div {
        width: 77%;
    }
}




@media(min-width:992px) and (max-width:1024px) {
    .sec2-content-div {
        width: 83%;
    }

    #img1 {
        display: none;
    }

    #img1-2 {
        display: block;
        width: 70%;
        margin-top: -35px;
        overflow: hidden;
    }

    .sec2-content2-div {
        width: 83%;
    }

    #img2 {
        display: none;
    }

    #img2-1 {
        display: block;
        width: 70%;
        overflow: hidden;
    }
}

@media (max-width:992px) {
    #sec-2 {
        background-image: url("./media/768x642\ AU.png");
    }

    #img1 {
        width: 30%;
        margin-top: 80px;
    }

    .content-1 {
        margin-top: 50px;
    }

    .content-2 {
        margin-bottom: 80px;
        margin-top: 50px;
    }

    #img2 {
        width: 30%;
        margin-top: 30px;
    }
}

@media (max-width:550px) {
    #img1 {
        width: 40%;
        margin-top: 50px;
    }

    #img2 {
        width: 40%;
        margin-top: 20px;
    }

    .sec2-content-div {
        width: 85%;
    }

    .sec2-content2-div {
        width: 85%;
    }

    .content-2 {
        margin-bottom: 60px;
        margin-top: 50px;
    }
}

@media (max-width:426px) {
    #sec-2 {
        background-image: url("./media/425X642AU.png");
    }

    .sec2-content-div {
        width: 88%;
    }

    .sec2-content2-div {
        width: 88%;
    }

    .content1-2 {
        padding-bottom: 100px;
    }

    #img2 {
        width: 40%;
        margin-top: 15px;
    }

    .content-2 {
        margin-bottom: 50px;
        margin-top: 35px;
    }

    .content-2,
    .content1-2,
    .content-1 {
        font-size: 13px;
    }
}

@media (max-width:375px) {
    .sec2-content-div {
        width: 90%;
    }

    .sec2-content2-div {
        width: 90%;
    }
}


/* section-3 */


.sec-3{
    background-image: url('./media/About\ Us\ Wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec-3-row{
    width: 80%;
}
.cr-img{
    height: 320px;
    border-radius: 50px;
}
.sec-3-content{
    font-size: 18px;
}
.carousel{
    border-radius: 30px;
}
.sec-3-head{
    font-family: "Poppins", serif;
    font-size: 50px;
    margin-bottom: 40px;
}
#sec-3-col-1{
    padding: 25px;
}
#sec-3-col-2{
    padding: 35px;
}

@media (max-width:1200px) {
    .sec-3-row{
        width: 87%;
    }
}

@media (max-width:1100px) {
    .sec-3-row{
        width: 93%;
    }
}

@media (max-width:1024px) {
    .sec-3-row{
        width: 93%;
    }
    #sec-3-col-1{
        padding: 20px;
    }
    #sec-3-col-2{
        padding: 25px;
    }
}

@media (max-width:992px) {
    .sec-3-row{
        width: 85%;
    }
    .sec-3-head{
        font-family: "Poppins", serif;
        font-size: 50px;
        margin-bottom: 40px;
        margin-top:40px ;
    }
    #sec-3-col-2{
        padding: 35px;
        margin-bottom:50px ;
    }
}

@media (max-width:850px) {
    .sec-3{
        background-image: url('./media/768x642\ AU.png');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .sec-3-row{
        width: 85%;
    }
    .sec-3-head{
        font-size: 37px;
        margin-bottom: 40px;
        margin-top:40px ;
    }
    #sec-3-col-2{
        padding: 35px;
        margin-bottom:50px ;
    }
}

@media (max-width:650px) {
    .sec-3-row{
        width: 85%;
    }
    .sec-3-head{
        font-size: 33px;
        margin-bottom: 30px;
        margin-top:40px ;
    }
    #sec-3-col-2{
        padding: 35px;
        margin-bottom:50px ;
    }
    .sec-3-content{
        font-size: 16px;
    }
    .sec-3-subhead{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .list-items-3{
        font-size: 18px;
    }
    #sec-3-col-2{
        padding: 30px;
        margin-top: 0px;

    }
    #sec-3-col-1{
        padding: 17px;
    }
}

@media (max-width:550px) {
    .sec-3-head{
        font-size: 30px;
        margin-bottom: 30px;
        margin-top:40px ;
    }
    .sec-3-subhead{
        font-size: 19px;
        margin-bottom: 10px;
    }
    .list-items-3{
        font-size: 16px;
    }
}

@media (max-width:500px) {
    .sec-3-row{
        width: 88%;
    }
    .sec-3-head{
        font-family: "Poppins", serif;
        font-size: 28px;
        margin-bottom: 28px;
        margin-top:40px ;
    }
    .sec-3-subhead{
        font-size: 19px;
        margin-bottom: 10px;
    }
    .list-items-3{
        font-size: 16px;
    }
    .cr-img{
        height: 300px;
        border-radius: 30px;
    }
    #sec-3-col-2{
        padding: 25px;
    }
    #sec-3-col-1{
        padding: 15px;
    }
}

@media (max-width:450px) {
    .sec-3{
        background-image: url('./media/425X642AU.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sec-3-row{
        width: 90%;
    }
    .sec-3-head{
        font-size: 25px;
        margin-bottom: 28px;
        margin-top:40px ;
    }
    .sec-3-subhead{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .list-items-3{
        font-size: 15px;
    }
    .cr-img{
        height: 270px;
        border-radius: 30px;
    }
    #sec-3-col-2{
        padding: 20px;
    }
    #sec-3-col-1{
        padding: 15px;
    }
    .sec-3-content{
        font-size: 13px;
    }
}

@media (max-width:376px) {
    .sec-3-row{
        width: 92%;
    }
    .sec-3-head{
        font-size: 23px;
        margin-bottom: 28px;
        margin-top:40px ;
    }
    .sec-3-subhead{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .list-items-3{
        font-size: 14px;
    }
    .cr-img{
        height: 260px;
        border-radius: 30px;
    }
    #sec-3-col-2{
        padding: 0px;
    }
    #sec-3-col-1{
        padding: 15px;
    }
    .sec-3-content{
        font-size: 13px;
    }
}