@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.land-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./media/FRONT.png');
    /* background-color: black; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    position: relative;
    perspective: 500px;
}

.head1 {
    font-size: 111px;
    font-family: "Archivo Black", serif;
    color: white;
    cursor: context-menu;
}

.head1:hover {
    text-shadow:
        0 0 5px #fff,
        0 0 75px #cac5ca;
}


.tagline {
    font-family: "Noto Sans", serif;
    font-size: 25px;
    letter-spacing: 4px;
    margin-top: -22px;
    color: white;
    cursor: context-menu;
    text-shadow: 0 0 5px #fff, 0 0 75px #cac5ca;
}

.logo {
    z-index: 2;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: -50px;
    width: 15%;
}

.arrow {
    position: absolute;
    left: 0px;
    bottom: 45px;
    /* border: 1px solid black; */
    text-align: center;

}

.img-arrow {
    z-index: 2;
    width: 2%;
    /* animation: bounce 2s infinite; */
}

#arr-1 {
    animation: run 1.5s infinite;
}

@keyframes run {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

#arr-2 {
    animation: run2 1.5s infinite;
    width: 1.7%;
}

@keyframes run2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

#arr-3 {
    animation: run3 1.5s infinite;
    width: 1.3%;
}

@keyframes run3 {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.img-arrow:hover {
    transform: scale(1.3);
}

.arr-anima-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:1024px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/1024X857.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 79px;
        /* color: red; */
    }

    .tagline {
        font-size: 18px;
    }

    .logo {
        width: 17%;
    }

    .img-arrow {

        width: 2%;
    }
}

@media (max-width:768px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/768X642.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 64px;
    }

    .tagline {
        font-size: 14px;
        margin-top: -18px;

    }

    .logo {
        width: 22%;
        margin-top: 0px;

    }

    .img-arrow {

        width: 2%;
    }
}

@media (max-width:600px) {
    .head1 {
        font-size: 60px;
    }

    .tagline {
        font-size: 13px;
    }

    .logo {
        width: 25%;
    }

    .img-arrow {

        width: 3%;
    }
}

@media (max-width:500px) {
    .head1 {
        font-size: 52px;
    }

    .tagline {
        font-size: 10px;
        margin-top: -14px;
    }

    .logo {
        width: 26%;
        margin-bottom: -4px;
    }

    .img-arrow {

        width: 3%;
    }
}

@media (max-width:426px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/425x643.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 45px;
    }

    .tagline {
        font-size: 10px;
        letter-spacing: 3px;
        margin-top: -15px;

    }

    .logo {
        width: 24%;
    }

    .img-arrow {
        width: 3%;
    }
}

@media (max-width:375px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/375x642.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 40px;
    }

    .tagline {
        font-size: 8px;
        letter-spacing: 3px;
        margin-top: -13px;

    }

    .logo {
        width: 25%;
    }

    .img-arrow {
        width: 3%;
    }
}

@media (max-width:320px) {
    .land-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./media/320x642.png');
        /* background-color: black; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head1 {
        font-size: 35px;
    }

    .tagline {
        font-size: 7px;
        letter-spacing: 3px;
        margin-top: -13px;

    }

    .logo {
        width: 30%;
        margin-bottom: 0px;
    }

    .img-arrow {
        width: 3%;
    }
}

/* section 2 */

#sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./media/About\ Us\ Wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sec2-content-div {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    width: 70%;
    margin-bottom: 30px;
}

.sec2-content2-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#img1 {
    width: 70%;
    margin-top: -35px;
    overflow: hidden;

    /* height: 80%; */
}

#img1-2 {
    width: 70%;
    margin-top: -35px;
    overflow: hidden;
    display: none;
}

#img2 {
    width: 70%;
    overflow: hidden;
}

#img2-1 {
    display: none;
    width: 70%;
    overflow: hidden;
}

.content-2 {
    margin-top: 25px;
}

.content-2,
.content1-1,
.content-1 {
    font-size: 16px;
}

@media (max-width:1200px) {

    .sec2-content-div,
    .sec2-content2-div {
        width: 77%;
    }
}




@media(min-width:992px) and (max-width:1024px) {
    .sec2-content-div {
        width: 83%;
    }

    #img1 {
        display: none;
    }

    #img1-2 {
        display: block;
        width: 70%;
        margin-top: -35px;
        overflow: hidden;
    }

    .sec2-content2-div {
        width: 83%;
    }

    #img2 {
        display: none;
    }

    #img2-1 {
        display: block;
        width: 70%;
        overflow: hidden;
    }
}

@media (max-width:992px) {
    #sec-2 {
        background-image: url("./media/768x642\ AU.png");
    }

    #img1 {
        width: 30%;
        margin-top: 80px;
    }

    .content-1 {
        margin-top: 50px;
    }

    .content-2 {
        margin-bottom: 80px;
        margin-top: 50px;
    }

    #img2 {
        width: 30%;
        margin-top: 30px;
    }
}

@media (max-width:550px) {
    #img1 {
        width: 40%;
        margin-top: 50px;
    }

    #img2 {
        width: 40%;
        margin-top: 20px;
    }

    .sec2-content-div {
        width: 85%;
    }

    .sec2-content2-div {
        width: 85%;
    }

    .content-2 {
        margin-bottom: 60px;
        margin-top: 50px;
    }
}

@media (max-width:426px) {
    #sec-2 {
        background-image: url("./media/425X642AU.png");
    }

    .sec2-content-div {
        width: 88%;
    }

    .sec2-content2-div {
        width: 88%;
    }

    .content1-2 {
        padding-bottom: 100px;
    }

    #img2 {
        width: 40%;
        margin-top: 15px;
    }

    .content-2 {
        margin-bottom: 50px;
        margin-top: 35px;
    }

    .content-2,
    .content1-2,
    .content-1 {
        font-size: 13px;
    }
}

@media (max-width:375px) {
    .sec2-content-div {
        width: 90%;
    }

    .sec2-content2-div {
        width: 90%;
    }
}

/* sec-3 design-2 */
.sec-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

.sec-3-overall {
    background-image: url("./media/About\ Us\ Wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.sec-3-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-3-content {
    width: 1122px;
    height: auto;
    /* border: 1px solid black; */
}

.sec-3-head {
    font-family: "Poppins", serif;
    font-size: 50px;
    padding: 28px 0px;
}

.sec-3-p {
    text-align: justify;
    font-size: 18px;
}

.card-wrapper {
    /* border: 1px solid black; */
    height: 350px;
    width: 1122px;
    overflow: hidden;
    position: relative;
}

#slider {
    position: absolute;
    transition: 1s;
    /* top: 25px; */
    width: 16rem;
    height: 350px;
    /* margin: 0px 20px; */
}

@media (max-width:1250px) {
    .card-wrapper {
        width: 834px;
    }

    .sec-3-content {
        width: 834px;
    }

    .sec-3-p {
        font-size: 17px;
    }
}

@media (max-width:985px) {
    .card-wrapper {
        width: 546px;
        /* border: 1px solid black; */
    }

    .sec-3-content {
        width: 730px;
        /* border: 1px solid black; */
    }

    .sec-3-head {
        font-size: 45px;
        padding: 28px 0px;
    }

    .sec-3-p {
        font-size: 16px;
    }
}

@media (max-width:900px) {

    .sec-3-content {
        width: 700px;
    }

    .sec-3-head {
        font-size: 43px;
    }
}

@media (max-width:850px) {
    .sec-3-head {
        font-size: 40px;
    }

    .sec-3-content {
        width: 680px;
    }

    .sec-3-head { 
        font-size: 43px;
    }

    .sec-3-p {
        font-size: 15px;
    }
}

@media (max-width:800px) {
    .sec-3-overall {
        background-image: url("./media/768x642\ AU.png");
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center; */
    }
    .sec-3-head {
        font-size: 39px;
    }

    .sec-3-content {
        width: 630px;
    }
}

@media (max-width:750px) {
    .sec-3-head {
        font-size: 37px;
    }
    .sec-3-content {
        width: 580px;
    }
}

@media (max-width:700px) {
    .sec-3-head {
        font-size: 35px;
    }
    .sec-3-content {
        width: 550px;
    }
   
}

@media (max-width:650px) {
    .card-wrapper {
        width: 258px;
        /* border: 1px solid black; */
    }
    .sec-3-head {
        font-size: 33px;
    }
    .sec-3-content {
        width: 510px;
    }
    .sec-3-p {
        font-size: 15px;
    }
}

@media (max-width:600px) {
    
    .sec-3-head {
        font-size: 30px;
    }
    .sec-3-content {
        width: 470px;
    }
    .sec-3-p {
        font-size: 15px;
    }
}

@media (max-width:550px) {
    
    .sec-3-head {
        font-size: 29px;
    }
    .sec-3-content {
        width: 430px;
    }
    .sec-3-p {
        font-size: 15px;
    }
}

@media (max-width:500px) {
    .sec-3-content {
        width: 380px;
    }
    .sec-3-p {
        font-size: 15px;
    }
    .sec-3-head {
        font-size: 28px;
    }
}

@media (max-width:450px) {
    .sec-3-overall {
        background-image: url("./media/425X642AU.png");
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center; */
    }
    .sec-3-head {
        font-size: 26px;
    }
    .sec-3-content {
        width: 330px;
    }
    .sec-3-p {
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .sec-3-head {
        font-size: 24px;
    }
    .sec-3-content {
        width: 300px;
    }
    .sec-3-p {
        font-size: 13px;
    }
}

@media (max-width:350px) {
    .sec-3-head {
        font-size: 22px;
    }
    .sec-3-content {
        width: 280px;
    }
    .sec-3-p {
        font-size: 13px;
    }
}

/* sec-4 */
.sec-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f3f2;
    padding: 0px;
    margin: 0px;
}

.sec-4-col1{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.youtube{
    width: 90%;
    height: 300px;
    border-radius: 20px;
}
.sec-4-col2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.allrights{
    margin-top: -35px;
}
.footer{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.footer-div{
    margin: 0px;
    padding: 0px;
}
.li-ul{
    font-size: 19px;
}

@media (max-width:425px) {
    .youtube{
        height: 250px;
    }
    .li-ul{
        font-size: 16px;
    }
}